body {
    background-color: lightblue;
    margin: 15px;
}


h1{
    font-size: 50px;
    background-color: orange;
    color: white;
    margin: 15px;
    padding: 15px;
    width: 800px;
}

p {
    height: 300px;
    margin: 15px;
    background-color: #FFE3C6;
    width: 800px;
    padding: 15px;
    color: green;
    font-size: 18px;
    }


img {
    height: 17%;
    padding: 10px;
}

#targetNumber {
    height: 50px;

}

#imageBlock {
    clear: both;
}

#WinsLosses, #TargetScoreBlock {
    background-color: darkolivegreen;
    width: 25%;
    height: 100px;
    float: left;
    margin-left: 15px;
    padding: 15px;
    font-size: 30px;
}

#userNumberBlock {
    background-color: yellow;
    width: 25%;
    height: 100px;
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 30px;

}



